[submodule "gem5"]
	path = gem5
	url = https://github.com/takekoputa/gem5
	branch = pseudo-tlb
[submodule "gem5_launch_util"]
	path = gem5_launch_util
	url = https://github.com/takekoputa/gem5_launch_util
